html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #00789C;
}

section {
    background-color: white;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: -50px;
}
.form
{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    margin-top: -30px;
}
label {
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
}

input {
    height: 40px;
    width: 350px;
    border: 0.5px solid grey;
     padding-left: 12px;
}

input::placeholder {
    font-size: 15px;
}

button {
    height: 40px;
    width: 365px;
    border: none;
    background-color: #00789C;
    color: white;

}
p
{
    display: flex;
    justify-content: right;
    font-size: 12px;
    margin-top: 1px;
    color: red;
}
